@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


:root {
    --font: 'JetBrains Mono', sans-serif;

    --main-text-color: #bdbdbd;
    --secondary-text-color: #797979;
    --main-content-color: #3a3a3a;
    --secondary-content-color: #424242;
    --main-background-color: #252525;
    --secondary-background-color: #1a1a1a;
    --main-accent-color: #ffc500;
    --secondary-accent-color: #ffd265;
    --main-error-color: #d34747;
}

/* GENERAL */

html {
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    padding: 0 0 0 15px;

    font-family: var(--font);
    font-size: 1.5rem;

    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

::selection {
    background: var(--main-accent-color);
    color: var(--main-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0, 0, 0.5);
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0, 0, 0.7);
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-corner {
    display: none;
}

/* HEADER */

#header-container {
    height: 80px;
    z-index: 1;
    position: fixed;
    padding: 0 50px;
    width: calc(100vw - 100px);
    left: 0;
    display: flex;
    justify-content: center;
    background: var(--main-background-color);
    border-bottom: 1px solid var(--secondary-background-color);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

#header-title {
    font-size: 2rem;
}

.header-title-main {
    color: var(--main-accent-color);
}

.header-title-secondary {
    color: var(--secondary-text-color);
}

#navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding: 15px 0;
    height: 30px;
}

.navbar-button {
    height: 100%;
}

.navbar-button path.stroke {
    stroke: var(--secondary-text-color);
    transition: stroke 0.3s;
}

.navbar-button path.fill {
    fill: var(--secondary-text-color);
    transition: fill 0.3s;
}

.navbar-button:hover path.stroke {
    stroke: var(--main-text-color);
}

.navbar-button:hover path.fill {
    fill: var(--main-text-color);
}

.navbar-button:active {
    transform: scale(0.95);

}

/* PAGE */

#page-container {
    position: absolute;
    margin: 0 35px;
    height: 100%;
    width: calc(100% - 85px);
    display: flex;
    justify-content: center;
}

.page {
    position: absolute;
    display: none;
    justify-content: center;

    padding: 100px 0 100px 0;
    box-sizing: border-box;

    min-height: 100%;
    width: 100%;
    max-width: 1000px;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.page.active {
    visibility: visible;
    opacity: 1;
}

/* SPECIFIC PAGES */

#selection-page {
    align-items: center;
    text-align: center;
}

#selection-page h1 {
    margin: 10px 0;
    font-size: 2.5rem;
}

#selection-page #passage-input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;

    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
    font-family: var(--font);
    font-size: 1.2rem;

    outline: 3px solid var(--main-background-color);
    transition: outline 0.3s, background-color 0.3s;
}

#selection-page #passage-input:focus {
    background-color: var(--main-content-color);
}

#selection-page #passage-input::placeholder {
    color: var(--secondary-text-color);
    font-family: var(--font);
    font-weight: normal;
}

#selection-page #passage-input-button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;

    background-color: var(--main-accent-color);
    color: var(--main-background-color);
    cursor: pointer;
    font-family: var(--font);
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

#selection-page #passage-input-button:hover {
    background-color: var(--secondary-accent-color);
}

#selection-page #passage-input-button:active {
    transform: scale(0.95);
}

#test-container {
    width: 100%;
}

#passage-title {
    font-size: 1.8rem;
    color: var(--secondary-text-color);
    background: var(--secondary-background-color);
    padding: 15px;
    border-radius: 5px;
    width: max-content;
    cursor: pointer;
    transition: background 0.3s;
}

#passage-title:hover {
    background: var(--main-content-color);
}

#passage-title:active {
    transform: scale(0.95);
}

#passage-content {
    width: 100%;
    text-align: left;
    line-height: 2;
    word-wrap: break-word;
}

#token-container span {
    white-space: pre-wrap;
}

@keyframes passageContentTokensFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#token-container .fade-in {
    animation-name: passageContentTokensFadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

#token-container .header {
    display: inline-block;
    color: var(--main-accent-color);
    font-weight: bold;
    font-size: 1.8rem;
}

#token-container .chapter {
    color: var(--main-accent-color);
    font-size: 4.5rem;
    line-height: 1.3;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

#token-container .verse {
    color: var(--main-accent-color);
    font-size: 1.2rem;
    font-weight: bold;
}

#token-container .character {
    color: var(--main-text-color);
}

#token-container .invalid {
    color: var(--main-error-color);
    border-bottom: 2px solid var(--main-error-color);
}

#ghost-content {
    color: var(--secondary-text-color);
    max-width: 100%;
}

#caret {
    display: inline-block;
    height: 2rem;
    border-right: 0.2rem solid var(--main-accent-color);
    margin: -0.3rem -0.3rem -0.3rem 0;
}

/* SETTINGS */

#settings-container {
    width: 100%;
}

#settings-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.setting-title {
    margin: 0;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
}

.setting-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.setting-description {
    margin: 0;
    font-size: 1.2rem;
}

.setting-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.setting-button {
    background: var(--secondary-background-color);
    color: var(--main-text-color);
    border: none;
    height: min-content;
    padding: 10px;
    font-family: var(--font);
    font-weight: normal;
    font-size: 1.2rem;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
}

.setting-button:hover {
    background: var(--main-content-color);
}

.setting-button.enabled {
    background: var(--main-accent-color);
    color: var(--main-background-color);
}

.setting-button.enabled:hover {
    background: var(--secondary-accent-color);
}

.setting-button:active {
    transform: scale(0.95);
}

/* USER */

#user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-message {
    text-align: center;
}

#user-description {
    color: var(--secondary-text-color);
}